body{
    height: 0;
}
.logo-main{
    float:left;
}
/* .design p{
    text-align: left;
}
.development{
    text-align: center;
}
.development p{
    text-align: center;
}
.Product{
     text-align: right;
}
.product p{
    text-align: right;
} */