body{
    height: 0;
    font-family: 'Dosis', sans-serif;

    font-family: 'Ramaraja', serif;

    font-family: 'Zilla Slab', serif;
}
.container{
    padding-left: 30%;
    scroll-padding-top: 10px;
}

.logo-main{
    float:left;
}
.col-sm-3{
    padding-left:2px;
}
h4 , h3 , h5{
    text-align: center;
}
h2 , p {
    text-align: center;
    padding-bottom: 6px;
}
#mouse{
    padding-top: 4px;
}
input[type=text] {
    width: 70%;
    padding: 5px 9px;
    margin: 8px 0;
    box-sizing: border-box;
    border:2px solid#ccc;
    
  }
  input[type=email] {
    width: 70%;
    padding: 5px 9px;
    margin: 8px 0;
    box-sizing: border-box;
    border:2px solid#ccc;
  }
  textarea {
      width:50%;
      height:200px;
      background-color: beige;
      resize: none;
      box-sizing: border-box;
      border: 2px solid #ccc;
      border-radius: 4px;
  }
/* .row{
    column-rule: 4px double #ccc;
    column-gap: 1px;
}
   */
