body{
    height: 0;
    font-family: 'Dosis', sans-serif;

    font-family: 'Ramaraja', serif;

    font-family: 'Zilla Slab', serif;
}
.container{
    padding-left: 30%;
    scroll-padding-top: 10px;
}

.logo-main{
    float:left;
}
.col-sm-3{
    padding-left:2px;
}
h4 , h3 , h5{
    text-align: center;
}
h2 , p {
    text-align: center;
    padding-bottom: 6px;
}
#mouse{
    padding-top: 4px;
}

